.card {
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  }


  .image {
    width: 150px;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
  }

    .title {
        margin: 10px 0 5px;
        font-size: 18px;
        color: #333;
    }

    .price {
        margin: 0 0 10px;
        font-size: 16px;
        color: #888;
    }

    .button {
        padding: 10px 15px;
        background-color: #111;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .button:hover {
        background-color: #333;
    }